h2 {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

}

.video-container {
  margin: 10px;
}

.video-container video {
  width: 100%;
}

.text-container {
  text-align: center;
  margin: 10px;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Table styling*/
table {
  width: 80%;
  margin: 20px 0px;
  border-collapse: collapse;
}

caption {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 10px 0;
  background-color: #999999;
  border-radius: 5px;
}

td,
th {
  border: 1px solid #d0d0d0;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d0d0d0;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #23d5ab;
  color: white;
}